<div class="container-fluid">
  <div class="row m-2">
    <div class="col-2 border p-3">
      <h5>絞り込み検索</h5>
      <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
        <label>カテゴリー</label><br>
        <%= f.collection_select :subject_category_id, SubjectCategory.all, :id, :name, { prompt: 'カテゴリーを選択' } %><br>
        <label>キーワード</label><br>
        <%= f.text_field :keyword, placeholder: "キーワードを入力" %><br>
        <%= f.submit "検索" %>
      <% end %> 
    </div>
    <div class="col-9 offset-1 border">
      <h5>投稿一覧</h5>
      <%= render 'list', posts: @posts %>
    </div>
  </div>
</div>



