<h1>投稿詳細</h1>

<table>
  <tbody>
      <tr>
        <th>題材名</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <embed src="<%= polymorphic_url(@post.shidouan_pdf) %>" width="700" height="700" type="application/pdf"></embed>
        </td>
      </tr>
      <tr>
        <th>説明文</th>
        <td><%= @post.caption %></td>
      </tr>
      <tr>
        <% if @post.user == current_user %>
          <td><%= link_to "edit", edit_post_path(@post.id) %></td>
          <td><%= link_to "destroy", post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<% if @post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(@post.id), method: :delete do %>
      ♥<%= @post.favorites.count %>いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorite_path(@post.id), method: :post do %>
      ♡<%= @post.favorites.count %>いいね
    <% end %>
  </p>
<% end %>
