<h1>単元一覧</h1>
 <%= form_with model: @unit_category do |f| %>
   <labei for="InputSubject">教科</labei><br>
   <%= f.collection_select :subject_category_id, SubjectCategory.all, :id, :subject, { prompt: '選択してください' } %><br>
   <label for="InputUnit">単元名</label><br>
   <%= f.text_field :unit, palceholder:"単元名" %><br>
   <%= f.submit "単元を登録" %>
 <% end %>

 <% @unit_categories.each do |unit_category| %>
   <%= unit_category.unit %>
 <% end %>