<div class="container-fluid">
  <div class="row mt-3 ml-5">
    <h2>新規会員登録</h2>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field mb-3">
          <%= f.label :name, "ユーザーネーム" %><br>
          <%= f.text_field :name, size: 40 %>
        </div>

        <div class="field mb-3">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %>
        </div>

        <div class="field mb-3">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", size: 40 %>
        </div>

        <div class="field mb-3">
          <%= f.label :password_confirmation, "パスワード(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 40 %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-5">
      <p>
        既に登録済みの方は<%= render "public/shared/links" %>からログインしてください。
      </p>
    </div>
  </div>
</div>






