<h1>ユーザー詳細</h1>

<%= image_tag @user.get_profile_image(100,100) %>
<h4>ユーザーネーム</h4>
<%= @user.name %>
<h4>自己紹介</h4>
<%= @user.introduction %>

<%= link_to "編集", edit_admin_user_path(@user) %>

<table>
  <thead>
    <tr>
      <th>教科</th>
      <th>題材名</th>
      <th>投稿者</th>
      <th>投稿日</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.subject_category.name %></td>
      <td>
        <%= link_to admin_post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td><%= post.user.name %></td>
      <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= post.favorites.count %>いいね</td>
      <td>
        <%= link_to post_post_comments_path(post.id) do %>
          <%= post.post_comments.count %>コメント
        <% end %>
      </td>
      <td>
        <%= link_to "削除", admin_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>