<div class="container-fluid">
  <div class="row">
    <div class="col-3 mt-3">
      <%= image_tag @user.get_profile_image(200,200) %>
      <div class="mt-3">
        <h6>ユーザーネーム</h6>
        <%= @user.name %>
      </div>
      <div class="mt-5 border">
        <h6>自己紹介</h6>
        <%= @user.introduction %>
      </div>
      
      <% unless @user.guest_user? %>
        <% if @user == current_user %>
          <%= link_to "編集", edit_user_path(@user.id) %>
          <%= link_to "退会する", confirm_withdrawal_path(@user.id) %>
        <% end %>
      <% end %>
      <P><%= link_to "いいねした投稿", my_favorites_user_path(@user) %></P>
    </div>
    
    <div class="offset-1 col-8 mt-3">
      <h4>投稿一覧</h4>
      <%= render '/public/posts/list', posts: @posts %> 
    </div>
  </div>
</div>






